body {
	color: #fff;
	font-family: "Opificio";
}
a {
	font-family: "Opificio";
	font-size: 14px;
}
h1 {
	color: #fff;
	font-family: "Opificio";
}
strong {
	font-family: "Opificio_Bold";
}
h2 {
	color: #0d5488;
}
header ul {
	padding: 5px 0;
}
header a {
	color: #fff;
	font-family: "ooredoo-Regular";
	font-size: 15px;
	padding: 3px 15px 0px 15px !important;
}
header li {
	border-right: 1px solid #fff;
}
header li:last-child {
	border: none;
}
header a:hover,
header a:focus {
	background: transparent !important;
	color: #fff !important;
}
.nav > li.search a {
	display: inline-block;
	padding-left: 5px !important;
    float: left;
}
header .search .form-control {
    width: 200px;
    margin-top: 0;
    padding: 1px 5px;
    height: auto;
    font-size: 14px;
    float: left;
}
figcaption {
	font-family: "Opificio";
	font-size: 25px;
	text-align: center;
	color: #464646;
}
.text-blue {
	color: #3598dc
}
.site-nav {
	border:none;
	margin-top: 1px;
}
.sub-menu-nav {
	position: relative;
	padding: 15px 0;
}
.sub-menu-nav .icon-bar {
	position: absolute;
	left: 7px;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #0d5488;
    margin-top: 4px;
}
.sub-menu-nav .icon-bar:nth-child(1) {
	top: 20px;
	margin-top: 0
}
.sub-menu-nav .icon-bar:nth-child(2) {
	top: 21px;
}
.sub-menu-nav .icon-bar:nth-child(3) {
	top: 26px;
}
.sub-menu-nav a {
    padding-left: 35px;
    color: #006699;
    font-family: "Opificio_Bold";
    font-size: 15px;
    display: inline-block;
    line-height: 24px;
    text-decoration: none;
}
nav.navbar-default .site-nav li a {
	padding-right: 10px;
    padding-left: 10px;
    color: #006699;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Opificio_Bold";
    font-size: 15px;
    margin: 0px 15px;
    display: inline-block;
    border-top: 2px solid #fff;
}
nav.navbar-default .site-nav .contact-number a {
	margin-left: 50px;
    margin-right: 0;
    position: relative;
    padding-left: 5px;
    font-size: 20px;
    padding-right: 0;
}
.dropdown small {
	font-family: "ooredoo-Bold";
	font-size: 13px;
}
.dropdown-menu {
	margin-top: 0;
	border-top: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	width: 665px;
	background-color: #121d33;
	left: -20px;
	padding-left: 15px;
	padding-right: 15px;
}
.dropdown-menu:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 18px solid #1d2c4a;
    top: -18px;
    left: 20px;
}
.intro-section .tab-pane ul{color: #454545;
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 0;
    margin-top: 30px;}
.dropdown-menu li {
	display: inline-block;
    margin-right: 20px;
    margin-left: 22px;width:28%;
}
.dropdown-menu li a {
	padding: 5px 0px;		
	color: #fff;
	font-family: "Raleway-Regular";
}
.dropdown-menu li a:hover {
	background-color: transparent;
	color: #fff;
}
nav.navbar-default .site-nav .contact-number a:hover {
	border-top: 2px solid #fff !important;
}
nav.navbar-default .site-nav .contact-number a:before {
    content: "";
    background-image: url(../images/contact-icon.png);
    position: absolute;
    width: 19px;
    height: 19px;
    left: -22px;
    top: 28%;
    right: 12px;
    background-size: cover;
}
nav.navbar-default .navbar-brand.brand-logo {
	position: relative;
	font-family: "ooredoo-Bold";
	font-size: 29px;
	color: #0099cc ;
}
nav .site-nav li.active a,
nav.navbar-default .site-nav li a:hover {
	background-color: transparent !important;
	border-top: 2px solid #063953 !important;
}
.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
	margin-left: 0;
}
.brand-logo {
	padding-left: 45px;
}
.brand-logo:before {
	content: "";
	background-image:url("../images/Logo.png");
	position: absolute;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	top: 5px;
	left: 0px;
}
.carousel-indicators li {
	background-color: #fff;
	width: 14px;
	height: 14px;
	border-radius: 50%;
}
.carousel-indicators .active {
	background-color: #0d5488;
	width: 16px;
	height: 16px;
}
.slider,
.slider .carousel-inner{
	overflow: hidden;
}
.slider .carousel-inner .item {
	overflow: hidden;
	height: 500px;
	background-size: cover;
	background-position: center center
}
.slider {
	position: relative;
}
.slider:after,
.hero:after {
	content: "";
	background-color: #007aa9;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.23;

}
.slider .left.carousel-control,
.slider .right.carousel-control {
    top: 50%;
    width: auto;
    padding: 0;
    margin-top: -36px;
    font-size: 0;
    height: 78px;
    margin-left: -1px;
    z-index: 2;
}
.slider .carousel-inner .item p {
	padding: 17px 50px 17px 18px;
    position: absolute;
    top: 69%;
    width: auto;
    background: rgba(219,130,26,0.8);
    font-size: 36px;
    max-width: 64%;
    z-index: 5;
    letter-spacing: 1px;
    font-family: "Raleway-Regular";
    font-weight: bold;
    letter-spacing: 3px;
}
.slider .carousel-control.left,
.slider .carousel-control.right {
	background-image: none;
}
.carousel-indicators {
	bottom: 0;
}
.contact-us {
	margin-bottom: 70px;
}
.contact-us p {
	padding: 10px;
	margin-bottom: 0;
	font-size: 30px;
	font-family: "Opificio";
}
.contact-us p  strong {
	font-family: "ooredoo-Bold";
	position: relative;
	margin-left: 40px;
	font-size: 27px;
}
.contact-us p  strong:before {
	content: "";
	background-image: url(../images/contact-icon-white.png); 
	position: absolute;
	width: 30px;
	height: 30px;
	left: -40px;
    top: 0;
}
.contact-us h2,
.intro-section h2 {
	margin-top: 75px;
	font-family: "Opificio";
	color: #464646;
	font-size: 37px;
}
.intro-section .tab-pane {
	padding-left: 8px;
}
.contact-us h2 strong,
.intro-section h2 strong {
	font-family: "Opificio_Bold";
	color: #15486e;
}
.contact-us h2 strong {
	text-transform: capitalize;
}
.contact-us a {
	color: #3598dc;
	display: block;
	margin-top: 10px;
	font-size: 20px;
	font-family: "ooredoo-Bold";
	text-decoration: none;

}
.contact-us a span {
	margin-right: 2px;
}
.contact-us p img {
	display: inline-block;
	margin-bottom: 4px;
}
.contact-us form .form-group {
	width: 45%;
}
.contact-us form .form-group:nth-child(2n) {
	float: right;
}
.contact-us form .form-group button {
	background-color: #1186c0;
    font-family: "Opificio_Bold";
    font-size: 20px;
    padding: 6px 47px 6px 46px;
    letter-spacing: 1px;
}
.contact-us form{font-size:17px;color:#191919;font-family: "Opificio";}
.search input,
.contact-us form .form-group input,
.contact-us form .form-group textarea {
	width: 100%;
	margin-top: 20px;
	padding: 20px 15px;
	border-radius: 0;
	resize: none;
	border:none;
	background-color: #ebebeb;
	color: #979797;
	font-family:"Opificio";
	font-size: 16px;
}
.contact-us form .form-group select{width: 100%;
	margin-top: 20px; 
	border-radius: 0; 
	border:none;
	background-color: #ebebeb;
	color: #979797;
	font-family: "Opificio";
	font-size: 16px;}
.contact-us form .form-group textarea {
	padding: 10px 15px;
	height: 85px;
}
.intro-section .intro-side-nav {
	border: 1px solid #b3b3b3;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: none;
}
.intro-section p {
	color: #454545;
	font-size: 17px;
	line-height: 23px;
	margin-bottom: 0;
	margin-top: 30px;
}
.intro-section .tab-pane p:first-of-type {
	margin-top: 14px;
}
.intro-section .intro-side-nav li a {
	font-size: 30px;
	background-color: #1186c0;
	color: #fff;
	padding: 10px 30px;
	line-height: 38px;
}
.intro-section .intro-side-nav li.active a {
	background-color: #fff;
	color: #1186c0;
	position: relative;
}
.intro-section .intro-side-nav li.active a:after {
	content: "";
	background-image: url("../images/arrow.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 35px;
	width: 21px;
	position: absolute;
	top: 50%;
	right: -21px;
	margin-top: -17px;
}
.intro-section .intro-side-nav li:last-child a {
	padding: 0;
	max-height: 20px;
}
.video-section {
	padding-bottom: 10px;
}
.video-section h1 {
	font-size: 40px;
	text-shadow: 3px 3px #006587;
	margin-top: 20px;
}
.video-section .embed-responsive {
   padding-bottom: 33.25%;	
}
.hero-section {
	padding-top: 30px;
	padding-bottom: 15px;
}
.hero-section h2 {
	line-height: 35px;
	color: #464646;
	text-transform: uppercase;
	font-size: 32px;
}
.hero-section p {
	color: #464646;
	line-height: 26px;
	font-family: "Opificio";
	font-size:22px;
}
.hero-section h2 strong {
	color: #15486e;
	font-size: 39px;
}
footer .nav a {
	padding-left: 0;
	color: #fff;
	padding-top: 0;
}
footer .nav a:hover,
footer .nav a:focus {
	background-color: transparent;
	color: #fff;
}
footer h3 {
	font-size: 32px;
    font-family: "Raleway-SemiBold";
	text-transform: capitalize;
}
footer .social-links a {
	padding-right: 0;
}
.copyright {
	border-top: 1px solid #fff;
}
.copyright p {
	padding: 10px;
	margin-bottom: 0;
	font-family: "ooredoo-Regular";
	font-size: 16px;
}
.lines-effects {
	position: relative;
	margin-top: 55px;
	margin-bottom: 65px;
	font-size: 37px;
}
.lines-effects:after,
.lines-effects:before {
	content: "";
	position: absolute;
	background: #0a5287;
	height: 1px;
	width: 36%;
	top: 50%;
	right: 0;
}
.lines-effects:before {
	right: auto;
	left: 0;
}
.lines-effects span {
	background-color: #fff;
	padding: 0 10px;
	position: relative;
	z-index: 5;
}

/*product page style*/

.hero {
	background-image: url("../images/Layer-2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 287px;
	position: relative;
}
.product-selections p {
	display: inline-block;
	margin-left: 20px;
	font-size: 25px;
	margin-bottom: 0; 
    margin-top: 8px;
}
.product-selections .step-item.active .numbers {
	background-color: #58c8ff;
}
.product-selections .step-item.active ..numbersright {
	background-color: #58c8ff;
}
.product-selections .step-item.active p {
	color: #58c8ff
}
.product-selections {
	border-top: 1px solid #fff;
	border-bottom: 2px solid #fff;
	padding: 20px 0;
}
.product-selections span {
	color: #0d5488;
	font-size: 30px;
	margin-top: 3px;
	display: inline-block;
}
.numbers {
	background-color: #fff;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	float: left;
}
.numbersright {
	background-color: #fff;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	display: inline-block;
	text-align: center; 
}
.sortings {
	text-align: right;
}
.sortings ul {
	padding-top: 6px;
}
.sortings li a,
.sortings span  {
	color: #000;
	font-size: 15px;
	font-family: "Helvetica";
	padding: 0 5px;
	margin: 0 10px;
	border-radius: 0;
}
.sortings li:last-child a {
	margin-right: 0;
}
.sortings li:hover a,
.sortings li.active a {
	color: #000;
	border-bottom: 2px solid #063953;
}
.sortings span {
	display: inline-block;
	padding: 6px 20px;
}
.sortings li a {
	background-color: transparent !important;
}
.alphabets {
	margin-top: 35px;
}
.alphabets ul {
	margin-bottom: 20px;
	padding-left: 15px;
	display: table;
}
.alphabets li {
	display: table-cell;
	width: 4%;
	float: none;
}
.alphabets li a {
	display: inline-block;
	font-size: 22px;
	color: #454545;
	padding: 0px 6px;
}
.alphabets li a:hover,
.alphabets li.active a {
	background-color: #0d5488;
	color: #fff;
    border-radius: 8px;
}
.description {
	font-family: "Helvetica";
}
.description .description-item {
	margin-top: 15px;
	padding-right: 0;
}
.description .description-item:nth-child(3n) {
	padding-right: 15px;
}
.description small {
	color:#6c6c6c;
	font-size: 14px;
	display: inline-block;
    width: 75%;
    margin-bottom: 0;
    /*margin-bottom: 11px;*/
}
.description p {
	color: #15486e;
	font-size: 20px;
	display: inline-block;
	margin-bottom: 14px;height:50px;overflow:hidden;
}
.description article {
	padding: 7px 5px 7px 12px;
	min-height: 250px;
	float: left;
}
.product,
.category {
	width: 80%;
	float: left;
}
.description .supplier {
	max-width: 75%;
	float: left;
	margin-bottom: 0;width:100%;
}
.description a {
	float: right;
	background-color: #0d5488;
	font-size: 15px;
	font-family: "Helvetica";
	color: #fff;
	padding: 5px 21px 7px 21px;
    border-radius: 5px;
}
.alphabets .next {
	color: #000;
	font-family: "Helvetica";
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	padding: 35px 0 30px 0;
	text-transform: uppercase;
}
.alphabets .next img {
    display: inline-block;
    vertical-align: 0px;
    margin-left: 7px;
}
.dots:after {
	content: "";
	font-size: 30px;
	font-family: "Opificio";
	margin-left: 12px;
    position: absolute;
    top: -3px;
}
.sendenquiry{position:absolute;right:20px;}
/*for ipad portait*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1920px)  {
	.form-inline {
		margin-left:25%;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 992px)  {
	.dropdown-menu {
		width: 410px;
	}
}
/*for ipad*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
	nav.navbar-default .site-nav li a {
		margin: 0 10px;
		padding: 12px 0;
	}
	.slider .carousel-inner .item p {
		max-width: 95%;
		padding: 10px;
	}
	.dots:after {
		width: 10px;
		overflow-x: hidden;
	}
	.product-selections p {
		margin-left: 10px;
	}
}
/*for ipad landscape to laptop	*/
@media only screen and (min-device-width : 992px) and (max-device-width : 1199px)  {
	nav.navbar-default .site-nav li a {
		margin: 0 6px;
		padding: 14px 0;
	}
	nav.navbar-default .site-nav .contact-number a {
		margin-left: 30px;
	}
	nav.navbar-default .site-nav .contact-number a:before {
		top: 12px;
	}
}
@media screen and (max-width: 767px) {
	.sendenquiry{position:static;}
	nav.navbar-default .site-nav .contact-number a:before {
		top: 10px;
	}
	.contact-us {
		margin-top: 15px;
	}
	.contact-us form .form-group {
		width: 100%;
	}
	.contact-us form .form-group:nth-child(2n) {
		float: none;
	}
	.site-nav {
		width: 100%;
		float: none !important;
		text-align: center;
	}
	.contact-number {
		float: none !important;
	}
	.contact-number a {
		float: none;
		display: inline-block !important;
		margin-left: 0 !important;
	}
	.slider .carousel-control {
		top: 25%;
		width: 30px;
	}
	.intro-section .intro-side-nav li.active a:after {
		display: none;
	}
	.contact-us form .form-group button {
		width: 100%;
	}
	footer {
		text-align: center;
	}
	footer img {
		margin: auto;
	}
	.social-links li {
		float: none;
		display: inline-block;
	}
	.slider .carousel-inner .item p {
		max-width: 90%;
		top: 65%;
	}
	.slider .carousel-indicators {
		margin-bottom: 0;
		bottom: 0;
	}
	.dropdown-menu {
		width: 100%;
		text-align: center;
		height: 400px;
		overflow: scroll;
	}
	.dropdown-menu li {
		margin: 0;
		width: 100%;
	}
	.dots:after,
	.dots:before {
		display: none;
	}
	/*.product-selections {
		text-align: center;
	}*/
	.numbers,.numbersright,
	.product-selections p {
		float: none;
		margin-bottom: 10px;
	}
	.product, .category {
		width: 75%;
	}
	.description .col-sm-4 {
		float: left;
	}
	.alphabets li {
		float: left;
		width: auto;
	}
	.alphabets .next {
		float: none !important;
		width: 100%;
		text-align: center;
	}
	.sortings li a, .sortings span {
		margin: 0;
	}
	.description .description-item {
		padding-right: 15px;
	}
}
/*for mobile screen*/
@media screen and (max-width: 400px) {
	nav.navbar-default .navbar-brand.brand-logo {
		font-size: 26px;
	}
	.dropdown-menu {
		left: -50px;
	}
	.dropdown-menu:before {
		left: 50px;
	}
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}